<footer class="navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-collapse collapse" id="footerContent">
            <a class="navbar-brand" href="https://www.youtube.com/watch?v=mHrtsCGR8yk">Login System</a>
            <div class="navbar-nav ms-auto">
                <a class="nav-item nav-link" href="https://github.com/Dast3X">GitHub</a>
                <a class="nav-item nav-link"
                   href="https://github.com/Dast3X/uwe_html_workshop/tree/main/Laboratory%20N2">Repository</a>
            </div>
        </div>
    </div>
</footer>